    /**
    * @name Match System
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #000000;
        --color01: #000000;
        --color02: #000000;
        --color03: #CAA7A0;
        --color04: #ecddda;
        --color05: #ecddda;
        --color06: #ecddda;
        --color07: #ecddda;
        --color08: #ecddda;
        --color09: #C2B192;
        --color10: #e4dbcc;
        --color11: #BEAF90;
        --color12: #A38879;
        --color13: #c4929f;
        --color14: #c89da8;
        --color15: #C2B192;
    }
